version: "3.9"

services:
  web:
    image: nginx:latest
    container_name: web_server
    ports:
      - "80:80"
    volumes:
      - ./web:/usr/share/nginx/html        # Static website files
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
    networks:
      - app_network

  api:
    build: ./api                            # Dockerfile inside ./api directory
    container_name: api_service
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASS=example
      - DB_NAME=appdb
    depends_on:
      - db
    networks:
      - app_network

  db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: appdb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql          # Persistent MySQL storage
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mysql_data: